@media (max-width: 899px) {
.footer {
  background-color: #17182b;
  border-radius: 15px 15px 0px 0px;
  padding: 20px;
  text-align: center;
  min-width: 90%;
  max-width: 90%;
  color: white;
}

.footer p {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

}