.mainpage-buttons {
  color: #ffffff;      
}

.mainpage-buttons:hover {
  color: #ffffff !important;
  transform: scale(1.10);
}


.titlesubdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.titlesubtext {
  flex-grow: 1;
  margin-right: 70px;
}

.titlesubimage {
  object-fit: cover;
  border-radius: 100px; 
  width: 200px;
  margin-top: 15px;
  margin-right: 95px;
  flex-shrink: 0;
}