@media (max-width: 800px) {
.Intro-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Intro-cont h1 {
  font-size: 2.0rem !important;
}

.Intro-cont h2 {
  color: #c9c9c9;
  font-size: 1.4rem !important;
}

.Intro-cont h3 {
  font-size: 1.6rem !important;
  margin-bottom: 20px;
  text-align: center;
}

.Intro-cont p {
  object-fit: cover;
  border-radius: 100px; 
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 10px;
  flex-shrink: 0;
}

.mainpage-buttons-box {
  margin-left: 10px;
  margin-bottom: 170px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainpage-buttons {
  background-color: #17182b;
  border: 10px solid #17182b;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  width: 65%;
}

.mainpage-buttons:hover {
  color: #ffffff !important;
  transform: scale(1.10);
}

.titlesubdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.titlesubimage {
  object-fit: cover;
  border-radius: 15px; 
  width: 150px;
  margin-top: 15px;
  margin-left: 22%;
  flex-shrink: 0;
}

}