@media (max-width: 800px) {
.mainpage-buttons-box {
  margin-left: 13px;
  margin-bottom: 170px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainpage-buttons {
  background-color: #17182b;
  border: 10px solid #17182b;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  width: 70%;
}

.titlesubimage {
  width: 150px;
  margin-top: 15px;
  margin-right: 0px;
  flex-shrink: 0;
}

.titlesubtext {
  margin-right: 10px;
}

}