@media (min-width: 900px) {

.Intro-cont h1 {
  font-size: 3.0rem !important;
  text-align: left !important;
}

.Intro-cont h2 {
  color: #c9c9c9;
  font-size: 2.7rem !important;
  margin-bottom: 100px;
}

.Intro-cont h3 {
  font-size: 2.4rem !important;
  margin-bottom: 30px;
}

.Intro-alignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
}

.Intro-alignment p {
  text-align: left;
  width: 40%;
}

.mainpage-buttons-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 25%;
  margin-top: 90px;
  margin-bottom: 250px;
}

.mainpage-buttons {
  background-color: #17182b;
  border: 10px solid #17182b;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  width: 65%;
}

.mainpage-buttons:hover {
  color: #ffffff !important;
  transform: scale(1.10);
}


.titlesubdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.titlesubtext {
  flex-grow: 1;
  margin-right: 70px;
}

.titlesubimage {
  object-fit: cover;
  border-radius: 15px; 
  width: 200px;
  margin-top: 30px;
  margin-right: 95px;
  flex-shrink: 0;
}

}