@media (max-width: 899px) {
.sidebar {
  background-color: #17182b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 6px;
  margin-top: 6%;
  min-width: 70%;
  max-width: 90%;
  transition: all 0.5s ease-in-out;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  color: white !important;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  border-radius: 7px;
  gap: 20px;
  padding: 10px;
  min-width: 50%;
  min-height: 60px;
}


.sidebar-collapsed {
  margin: 0px !important;
  border: none !important; 
  overflow: hidden !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.sidebar-collapsed a {
  gap: 0% !important;
  border-radius: 0% !important;
  padding: 0% !important;
  min-width: 0% !important;
  min-height: 0% !important;
  width: 0% !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

}