@media (min-width: 900px) {
.sidebar {
  background-color: #17182b;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  gap: 20px;
  padding: 10px;
}

.sidebar a:hover {
  transform: scale(1.10);
  color: white !important;
}

.sidebar-seperator-before {
  padding-bottom: 10px;
}

.sidebar-seperator-after {
  border-top: 3px solid #cccccc;
  padding-top: 10px;
  margin-bottom: -10px;
}

.sidebar-image-buttons {
  width: 160px;
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-left: 0px;
  margin-bottom: 10px;
}

.sidebar-image-buttons:hover {
  transform: scale(1.10);
}

.sidebar-collapsed {
  width: 0px !important;
  min-width: 0px;
  height: 0px !important;
  min-height: 0px;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important; 
  overflow: hidden !important;
  
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

[data-status="sidebar-collapsed"] {
  margin-top: 200px;
}

}