@media (max-width: 899px) {
.portfolio-section-title{
  text-align: center;
  text-wrap: nowrap;
  margin-bottom: 50px;
}

/* Title, Image */
.portfolio-table-title{
  text-align: center;
  text-wrap: nowrap;
  margin-bottom: 50px;
}

.portfolio-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.portfolio-table-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.portfolio-table-article img{
  width: 100%;
}

.portfolio-table-article-logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.portfolio-table-article-logo-title figure {
  margin: 0%;
}

.portfolio-table-article-logo-title img {
  width: 100%;
}

/* Description, and its button links */
.portfolio-table-article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.portfolio-table-article-description a {
  border: 10px solid #17182b;
  background-color: #17182b;
  border-radius: 5px;
}

.portfolio-table-article-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.portfolio-table-article-buttons a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

.portfolio-table-article-buttons a:not([button-disabled]):hover {
  color: #ffffff !important;
    transform: scale(1.10);
}

a#button-disabled {
  color: #a7a7a7 !important;
  background-color: #17182b;
  cursor: not-allowed;
}


}