@media (min-width: 900px) {
.portfolio-article-container{
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 50px;

}

/*Box Related*/
.portfolio-article-box{
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio-article-box img{
  object-fit: cover;
  width: 250px;
  margin-bottom: 20px;
}

.portfolio-article-box-logo img{
  max-width: 20%;
  height: auto;
  margin-bottom: 20px;
}

/*Button Related*/
.portfolio-article-container a {
  color: #ffffff !important;
  background-color: #17182b;
  border: 5px solid #17182b;
  padding: 8px 17px;
  border-radius: 5px; 
  text-decoration: none;
  font-weight: bold;
  text-align: center;    
  transition: all 0.3s ease;
}

.portfolio-article-container a:not([disabled]):hover {
  color: #ffffff !important;
  transform: scale(1.10);
}

a#is-disabled {
  color: #a7a7a7 !important;
  background-color: #17182b;
  border: 5px solid #17182b;
  cursor: not-allowed;
  transform: scale(1.00);
}

.portfolio-article-button-alignment {
  display: flex;
  align-items: center;
  gap: 10px;
  left: 100px;
  margin-left: 17px;
  margin-bottom: 100px;
}

/*Text Related*/
.title-before-content {
  margin-top: 30px;
  margin-bottom: 40px;
}

}