@media (min-width: 900px) {
.portfolio-section-title{
  text-align: center;
  margin-bottom: 50px;
}

/* Title, Image */
.portfolio-table-title{
  text-align: center;
  text-wrap: nowrap;
  margin-bottom: 50px;
}

.portfolio-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-left: 0rem;
}

.portfolio-table-container li {
  width: 100%;
  max-width: 100%;
}


.portfolio-table-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.portfolio-table-article img{
  width: 50%;
}

.portfolio-table-article-logo-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio-table-article-logo-title figure {
  margin: 0%;
}

.portfolio-table-article-logo-title img {
  width: 100%;
}

/* Description, and its button links */
.portfolio-table-article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 0rem;
}

.portfolio-table-article-description p {
  width: 70%;
}

.portfolio-table-article-description a {
  border: 10px solid #17182b;
  background-color: #17182b;
  border-radius: 5px;
}

.portfolio-table-article-description-platform {
  font-size: 1.4rem;
  text-align: center;
}

.portfolio-table-article-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 0rem;
}

.portfolio-table-article-buttons a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

a#button-disabled {
  color: #a7a7a7 !important;
  background-color: #17182b;
  cursor: not-allowed;
}

}