@media (min-width: 900px) {
.aboutme-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutme-main-content h1 {
  margin-bottom: 50px;
}

.aboutme-main-content h2 {
  margin-bottom: 50px;
}

.aboutme-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.aboutme-container {
  gap: 10%;
}

.aboutme-container-img-button figure {
  margin-bottom: 10%;
}

.aboutme-container-img-button img {
  object-fit: contain;
  border-radius: 15px;
  width: 220px;
}

.aboutme-container-p {
  width: 60%;
  max-width: 60%;
  text-align: left;
}

.aboutme-buttons {
  display: flex;
  justify-content: center;
  background-color: #17182b;
  border: 15px solid #17182b;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 65%;
  margin-left: 16%;
}

.aboutme-buttons:hover {
  color: #ffffff !important;
  transform: scale(1.10);
}

.aboutme-main-content-skills h2 {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutme-content-skills-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15%;
}

.aboutme-content-skills-table li {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.aboutme-content-skills-table p {
  font-size: 2.0rem;
  text-align: center;
  margin-left: 15px;
}

.aboutme-content-skills-table figure {
  margin: 0;
}

.aboutme-content-skills-table img {
  object-fit: contain;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}


}