@media (min-width: 900px) {
.aboutme-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutme-main-content h1 {
  margin-bottom: 50px;
}

.aboutme-main-content h2 {
  margin-bottom: 50px;
}

.aboutme-content-img {
  min-width: 25%;
  min-height: 25%;
  max-width: 25%;
  max-height: 25%;
}

.aboutme-content-img img {
  object-fit: contain;
  border-radius: 15px; 
  margin-top: 40px;
  width: 100%;
}

.aboutme-content {
  margin-bottom: 85px;
}

.aboutme-content p {
  margin-top: 40px;
  width: 80%;
  text-align: left;
  margin-left: 10%;
}

.aboutme-main-content-skills h2 {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutme-content-skills-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15%;
}

.aboutme-content-skills-table li {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.aboutme-content-skills-table p {
  font-size: 2.0rem;
  text-align: center;
  margin-left: 15px;
}

.aboutme-content-skills-table figure {
  margin: 0;
}

.aboutme-content-skills-table img {
  object-fit: contain;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}


}