@media (max-width: 899px) {
.header {
  width: 100%;
  max-width: 90%;
}

.header-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
  height: 100px;
}

a.header-name {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.1rem;
}

.header-name img {
  height: 60%;
  width: auto;
}


.header-sidebuttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  margin-top: 5%;
}

.header-sidebuttons img {
  width: 80%;
}

.sidebar-collapse-button {
  background-color: transparent;
  border: 0px;
  width: 70px;
  font-weight: bold;
}

.sidebar-accessibility-button {
  background-color: transparent;
  border: 0px;
  width: 70px;
  font-weight: bold;
}

.sidebar-disabled-button {
  width: 0px !important;
  height: 0px !important;
}

.sidebar-collapse-button:hover {
  transform: scale(1.05);
}

.sidebar-accessibility-button:hover {
  transform: scale(1.05);
}

}