@media (min-width: 900px) {
.header {
  width: 100%;
  height: 50%;
  max-width: 50%;
}

.header-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  gap: 1%;
  height: 15vh;
}

.header-name img {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 110px;
  width: 110px;
}

a.header-name {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}

a.header-name:hover {
  color: white;
}

.header-sidebuttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: all 0.3s ease;
}

.sidebar-collapse-button {
  background-color: transparent;
  border: 0px;
  width: 70px !important;
  font-weight: bold;
}

.sidebar-accessibility-button {
  background-color: transparent;
  border: 0px;
  width: 70px;
  font-weight: bold;
}

.header-sidebuttons img {
  width: 80%;
}

.sidebar-collapse-button:hover {
  transform: scale(1.10);
}

.sidebar-accessibility-button:hover {
  transform: scale(1.10);
}

}