.header-container {
  display: box;
  margin-top: 35px;
  margin-bottom: 25px;
  min-height: 180px;
  min-width: 1200px;
  max-height: 180px;
  max-width: 1200px;
}

.header-order {
  display: flex;
  flex-direction: column;
}

.header-obedn-logo {
  height: 130px;
  width: 800px;
  display: flex;
  margin-left: 200px;
}

.sidebar-collapse-button {
  background-color: transparent;
  border: 0px;
  width: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  margin-left: 1130px;
  margin-bottom: -25px;
}

.sidebar-collapse-button:hover {
  transform: scale(1.10);
}