@media (max-width: 800px) {
/* Structure the Sidebar and main-content-view correctly */
  .app hr {
    border: 2px solid white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .components-structured {
    display: grid;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
    min-width: 70%;
    max-width: 90%;
    margin-bottom: 20px;
    padding: 25px;
  }

/* Main content */
  .main-content-box {
    width: 95%;
  }

  .main-content-box h1, h2, h3, h4, ul, li, p {
    max-width: 300px;
  }

  .main-content-box h1 {
    font-size: 2rem;
    text-align: center;
  }

  .main-content-box h2 {
    font-size: 1.8rem;
  }

  .main-content-box h3 {
    font-size: 1.6rem;
  }

  .main-content-box h4 {
    font-size: 1.4rem;
  }

  .main-content-box ul {
    list-style-type: none;
    padding: 0;
  }


/* Sidebar */
  .sidebar {
    display: flex;
    min-width: 335px;
    max-width: 335px;
    margin-left: 10px;
  }
  .sidebar a {
    margin: 10px 0;
    width: 180px;
  }

  .sidebar img {
    margin: 10px 0;
    width: 100px;
    display: flex;
  }

/* Convinience */
.static-scrollup {
  background-color: transparent;
  border: transparent;
  position: sticky;
  width: 25px;
  height: auto;
  top: 490px;
  left: 250px;
}

}