@media (max-width: 899px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: #000319 !important;
  }
  
  .components-structured {
    background-color: #282b39;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    min-width: 70%;
    max-width: 90%;
    padding: 25px;
    margin-bottom: 30px;
    margin-top: 5%;
  }

  .components-structured p {
    text-align: left;
  }

  .components-structured hr {
    border: 5px solid #000319;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }

/* Main content */
  .main-content-box {
    color: white;
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
  }

  .main-content-box h1 {
    font-size: 2.5rem;
  }

  .main-content-box h2 {
    font-size: 2.3rem;
  }

  .main-content-box h3 {
    font-size: 1.9rem;
  }

  .main-content-box h4 {
    font-size: 1.7rem;
  }

  .main-content-box p {
    font-size: 1.1rem;
  }

  .main-content-box ul {
    list-style-type: none;
    padding: 0;
  }

  .main-content-box a {
  color: white;
  text-decoration: none;
  }

  .main-content-box a:hover {
  color: white;
  text-decoration: none;
  }


/* Sidebar */
  .sidebar {
    display: flex;
    min-width: 335px;
    max-width: 335px;
    margin-left: 10px;
  }
  .sidebar a {
    margin: 10px 0;
    width: 180px;
  }

  .sidebar img {
    margin: 10px 0;
    width: 100px;
    display: flex;
  }

/* Convinience */
.static-scrollup {
  background-color: transparent;
  border: transparent;
  position: sticky;
  width: 25px;
  height: auto;
  top: 490px;
  left: 250px;
}

}