/* Mouse Related */
html, body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgba(0, 0, 0, 0.5)"><circle cx="12" cy="12" r="10" stroke="white" stroke-width="2" fill="white"/></svg>') 12 12, auto !important; 
}

/* Force Button (a & Button) and input/Hover on Button, etc.. to use the custom Mouse */
a,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
label[for],
select {
  cursor: inherit !important;
}

/* Structure the Sidebar and main-content-view correctly */
.components-structured {
  background-color: #282b39;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  min-width: 60%;
  max-width: 60%;
  margin-bottom: 20px;
  padding: 25px;
}

body {
  background-color: #000319 !important;
  overflow-x: hidden; 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .app hr {
    border: 2px solid white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.main-content-box {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  flex-grow: 1;
  color: white;
  width: 100%;
}

.main-content-box h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  text-align: center;
}

.main-content-box h2 {
  font-size: 2.0rem;
}

.main-content-box h3 {
  font-size: 1.8rem;
}

.main-content-box h4 {
  font-size: 1.5rem;
}

.main-content-box ul {
  list-style-type: none;
}

.main-content-box a {
  color: white;
  text-decoration: none;
}

.main-content-box a:hover {
  color: white;
  text-decoration: none;
}


/* Convinience */
.static-scrollup {
  background-color: transparent;
  border: transparent;
  position: sticky;
  width: 70px;
  height: auto;
  top: 200px;
  left: 300px;
  z-index: 1000;
}


/* Accessibility */

