@media (max-width: 800px) {
.portfoliocollage-content {
    width: 100%;
    max-width: 100%;
    padding: 8px;
  }

.portfoliocollage-content h1, h2, h3, h4, ul, li, p {
    max-width: 300px;
}

.portfoliocollage-content h1 {
    font-size: 1.8rem;
}

.portfoliocollage-content h2 {
    font-size: 1.6rem;
}

.portfoliocollage-content h3 {
    font-size: 1.4rem;
}

.portfoliocollage-content h4 {
    font-size: 1.2rem;
}

.portfoliocollage-content ul {
    list-style-type: none;
    padding: 0;
}

.portfoliocollage-content hr {
    max-width: 290px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfoliocollage-dateformat {
  display: auto;
  gap: 0px;

}

/* Table of Content's Style */
.portfoliocollage-tableofcontent {
  padding: 20px;
}

.portfoliocollage-tableofcontent hr {
  width: 210px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.portfoliocollage-buttons {
  max-width: 210px;
}

/* Past Projects */
.portfoliocollage-article-container {
  flex-direction: column;
  gap: 0px;
}

}